# https://www.nginx.com/resources/wiki/start/topics/recipes/dokuwiki/
server {
    listen {{ dokuwiki_www_port }};
    root {{ dokuwiki_fs_dir }};
    index index.php index.html index.html;

    location {{ dokuwiki_www_dir }} { 
        try_files $uri $uri/ @dokuwiki;
    }

    location @dokuwiki {
        rewrite ^/_media/(.*) /lib/exe/fetch.php?media=$1 last;
        rewrite ^/_detail/(.*) /lib/exe/detail.php?media=$1 last;
        rewrite ^/_export/([^/]+)/(.*) /doku.php?do=export_$1&id=$2 last;
        rewrite ^/(.*) /doku.php?id=$1&$args last;
    }

    {% if ansible_os_family == 'Debian' %}
    location ~ \.php$ {
        include fastcgi_params;
        fastcgi_intercept_errors on;
        # Caution: be sure the php{{ php_installed_version_fact }}-fpm.sock matches your version
        include snippets/fastcgi-php.conf;

        {% if dokuwiki_php_fpm_connection_type == 'socket' %}
        fastcgi_pass unix:{{ dokuwiki_php_fpm_connection_address }};
        {% endif %}

        {% if dokuwiki_php_fpm_connection_type == 'ip' %}
        fastcgi_pass {{ dokuwiki_php_fpm_connection_address }};
        {% endif %}

        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    }
    {% endif %}

    {% if ansible_os_family == 'RedHat' or ansible_os_family == 'Suse' %}
    # https://stackoverflow.com/a/47929033
    location ~ \.php$ {
        #NOTE: You should have "cgi.fix_pathinfo = 0;" in php.ini
        include fastcgi_params;
        fastcgi_intercept_errors on;

        {% if dokuwiki_php_fpm_connection_type == 'socket' %}
        fastcgi_pass unix:{{ dokuwiki_php_fpm_connection_address }};
        {% endif %}

        {% if dokuwiki_php_fpm_connection_type == 'ip' %}
        fastcgi_pass {{ dokuwiki_php_fpm_connection_address }};
        {% endif %}

        fastcgi_param SCRIPT_FILENAME $document_root/$fastcgi_script_name;
    }
    {% endif %}

    # https://www.dokuwiki.org/security#deny_directory_access_in_nginx
    location ~ /(data|conf|bin|inc|vendor)/ {
      deny all;
    }
}

#
# File from template https://github.com/don-rumata/ansible-role-install-dokuwiki
#
